<!DOCTYPE html>
<html>
    <h1>Create a Team and Heroes!</h1>
    <form action="/teams" method="post">
        <ul>
            <li>Team Name:<input type="text" name="team[name]"></input></li>
            <li>Team Motto:<input type="text" name="team[motto]"></input></li>
            <h2>Hero 1</h2>
            <li>Hero Name:<input type="text" name="team[members][][name]" id="member1_name"></input></li>
            <li>Hero Power:<input type="text" name="team[members][][power]" id="member1_power"></input></li>
            <li>Hero Bio:<input type="text" name="team[members][][bio]" id="member1_bio"></input></li>
            <h2>Hero 2</h2>
            <li>Hero Name:<input type="text" name="team[members][][name]" id="member2_name"></input></li>
            <li>Hero Power:<input type="text" name="team[members][][power]" id="member2_power"></input></li>
            <li>Hero Bio:<input type="text" name="team[members][][bio]" id="member2_bio"></input></li>
            <h2>Hero 3</h2>
            <li>Hero Name:<input type="text" name="team[members][][name]" id="member3_name"></input></li>
            <li>Hero Power:<input type="text" name="team[members][][power]" id="member3_power"></input></li>
            <li>Hero Bio:<input type="text" name="team[members][][bio]" id="member3_bio"></input></li><br>
            <input type="submit" value="submit"></input>
        </ul>
    </form>
</html>

